<h1>Test</h1>
<div style="border: 1px solid grey; padding: 15px; margin-bottom: 15px;">
    <h2>New task</h2>
    <div>
        <label for="title">Title</label>
        <input [(ngModel)]="task.title" id="title" />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea [(ngModel)]="task.description" id="description"></textarea>
    </div>
    <div>
        <label for="state">State</label>
        <select [(ngModel)]="task.state" id="state">
            <option *ngFor="let s of states" [value]="s">{{s}}</option>
        </select>        
    </div>
    <div>
        <button (click)="onClickAdd()">Add</button>
    </div>
</div>
<div style="border: 1px solid grey; padding: 15px">
    <h2>Tasks</h2>    
    <ul>
        <li *ngFor="let t of tasks">
            <b>{{t.title}}:</b> {{t.description}}<br/>
            <b>{{t.state}}</b> on {{t.date | date: 'dd/MM/yyyy'}}
        </li>
    </ul>
</div>